<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tracker.lol" version="1.0.1">
    <name>LoL-Tracker</name>
    <description>
        A simple League of Legends app to see what summoners you are in game with.
    </description>
    <author email="treverj1029@gmail.com" href="http://treverjohnston.com">
       Trever Johnston
    </author>
    <content src="index.html" />
    <icon src="res/challenger.png" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-navigation href="lol-tracker.herokuapp.com*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="android" spec="^7.0.0" />
</widget>
